---
import "../index.css";
import Layout from '../layouts/Layout.astro';
import ParticleMotion from "../components/particle-motion/ParticleMotion";
import Graphic from "../components/graphics/Graphic";
import Particles from "../components/particle-visuals/Particles";
---

<Layout title="ThreeJS Astro">
	<main style={{height:"100%",backgroundColor:"#262626"}} class="bg-neutral-800 h-full">
		<ParticleMotion client:load />
	</main>
</Layout>
